doctype <!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet",type="text/css",href="/css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300",rel="stylesheet",type="text/css")
    title What's the Weather
  body
    div.container
      fieldset
        form(action="/",method="post")
          input.ghost-input(name="city",type="text",placeholder="Enter a City",required=true)
          input.ghost-button(type="submit",value="Get Weather")
        if weather
          p= weather
        if error
          p= error